.contenedorTituloProductos{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #F7F7F7;
    
}
body{
    background-color: #F7F7F7;
}
.contenedor-productos{
    width: 100%;
    height: auto;
    padding-left: 100px;
    padding-right: 100px;
    .contenedorInternoProductos{
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 20px;
        margin-top: 30px;
        margin-bottom: 30px;
        background-color: #ffffff;
        .item{
            margin-right: 20px;
            margin-bottom: 20px;
            width: 200px;
        }
    }
}