.item{
    height: 80%;
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 3px;
    outline: solid 0.5px #dddddd4b;
    .contenedorImgItem{
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden !important ;
        .imgItem{
            width: 200px;
            height: 200px;
            object-fit: contain !important;
            transition: all 0.5s ;
        }
        .imgItem:hover{
            transform: scale(110%);
        }
    }
    .contenedorInfoItem{
        padding: 4%;
        .contenedorTituloItem{
            width: 100%;
            height: 50px;
            h4{
                color: #3D464D;
                font-weight: 600;
            }
        }
        .disponible-precio{
            margin-top: 30px;
            .disponible{
                color: #4bb563;
                font-weight: 800;
                font-size: 0.7rem;
                letter-spacing: 0.5px;
            }
            .stockBajo{
                color: #FBA010;
                font-weight: 800;
                font-size: 0.7rem;
                letter-spacing: 0.5px;
            }
            .sinStock{
                color: #3D464D;
                font-weight: 800;
                font-size: 0.7rem;
                letter-spacing: 0.5px;
            }
            .precio{
                color: #3d464d;
            }
        }
        
    }
    .contenedor-btn-detail{
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 4%;
        .btnDetail{
            color: #fff;
            height: 30px;
            width: 150px;
            background-color: black;
    
        }
        .btnTerminar{
            margin-top: 10px;
            background-color: black;
            height: 30px;
            width: auto;
            color: #fff;
        }
    }
}

.item:hover{
    box-shadow: 0.5px 2px 1px 0.5px #dddddd; 
}
