.contenedor-general{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: start !important;
    .contenedor-sumador{
        width: 30% !important;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        border: solid 1px #acacac;
        .numeroCantidad{
            margin-left: 10px;
            margin-right: 10px;
        }
        .boton{
            width: 20px;
            height: 30px;
            cursor: pointer;
            font-size: 1.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #0000005d;
            transition: all 0.1s;
        }
        .boton:hover{
            color: #000;
        }
    } 
    .contenedor-agregar{
        width: 46%;
        height: 50px !important;
        display: flex;
        justify-content: center;
        background-color: #000;
        align-items: center;
        align-self: flex-end;
        margin-left: 10px;
        font-size: 1rem;
        button{
            color: #fff;
            font-size: 0.9rem;
            font-weight: 600;
            width: 100%;
            height: 100%;
        }
        
    }
}